{
	auto_https off
	admin off
}

:{$PORT:8080} {
	encode gzip
	log {
		output stdout
		format console
	}

	handle /healthz {
		respond "ok" 200
	}

	redir /physics /physics/ 308
	redir /analog /analog/ 308
	redir /handwriting /handwriting/ 308
	redir /dogfight /dogfight/ 308
	redir /swarm /swarm/ 308
	redir /waves /waves/ 308

	handle_path /physics/* {
		reverse_proxy http://{$PHYSICS_UPSTREAM} {
			transport http {
				dial_timeout 8s
			}
			lb_try_duration 12s
		}
	}

	handle_path /analog/* {
		reverse_proxy http://{$ANALOG_UPSTREAM} {
			transport http {
				dial_timeout 8s
			}
			lb_try_duration 12s
		}
	}

	handle_path /handwriting/* {
		reverse_proxy http://{$HANDWRITING_UPSTREAM} {
			transport http {
				dial_timeout 8s
			}
			lb_try_duration 12s
		}
	}

	handle_path /dogfight/* {
		reverse_proxy http://{$DOGFIGHT_UPSTREAM} {
			transport http {
				dial_timeout 8s
			}
			lb_try_duration 12s
		}
	}

	handle_path /swarm/* {
		reverse_proxy http://{$SWARM_UPSTREAM} {
			transport http {
				dial_timeout 8s
			}
			lb_try_duration 12s
		}
	}

	handle_path /waves/* {
		reverse_proxy http://{$WAVE_UPSTREAM} {
			transport http {
				dial_timeout 8s
			}
			lb_try_duration 12s
		}
	}

	handle {
		root * /srv
		file_server
	}
}
